<div style="border: 1px solid; width: 800px; margin-left: 280px; margin-top: 120px; padding: 40px;">
    <h1>Thank You</h1>

    <p>Your account has been successfully registered! Please <?= $this->Html->link('Click Here', ['action' => 'index']) ?> Sign In</p>
</div>