body {
	overflow-x: hidden;
	font-family: 'Work Sans', sans-serif;
	font-size:14px;
}
* {
	box-sizing:border-box;
}
.filter-tab-row:before, .filter-tab-row:after, .pareto-content:before, .pareto-content:after, .pareto-header:before, .pareto-header:after, .table-row:before, .table-row:after {
	display:table;
	content:'';
}
.filter-tab-row:after, .pareto-content:after, .pareto-header:after, .table-row:after {
	clear:both;
}
a:hover, a:active, a:focus {
	text-decoration:none;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor:pointer;
}
.select-pareto-dsgn {
	height: 30px;
	border: 1px solid rgba(0, 52, 81, 0.5);
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius:0;
	background:transparent;
	font-size:14px;
	font-family: 'Work Sans', sans-serif;
	color: #4b6f84 !important;
	line-height:1.5;
	position:relative;
	padding-left:12px;
}
.select-inline::before {
	position:absolute;
	content:"\f107";
	right:10px;
	top:7px;
	height:10px;
	width:10px;
	font: normal normal normal 16px/1 FontAwesome;
	color:rgba(0, 52, 81, 0.7)
}
.search-add-on .fa, .filter-add-on .fa-filter, .calender-add-on .fa {
	position:absolute;
	left:10px;
	top:6px;
	font-size:16px;
	color:rgba(0, 52, 81, 0.3);
}
.search-add-on input[type="search"], .filter-add-on select {
	padding-left:30px;
}
.pareto-bar{
	background-color: #003451;
	height:50px;
}
.pareto-bar .navbar-brand {
	padding:0;
	line-height:0;
	margin-top:-2px;
}
.side-toggle-menu .fa{
	margin-right:30px;
}
.pareto-bar .fa {
	color:#99aeb9;
	font-size:20px;
}
.user-setting .dropdown-menu, .alert-bx .dropdown-menu{
	left:inherit;
	right:0;
	border-radius:0;
}
.user-setting a {
	width:60px;
	position:relative;
	display:block;
}
.user-setting .dropdown-menu {
	padding: 5px;
    top: 42px;
    border: none;
    background: #003451;
}
.user-setting .dropdown-menu a {
	width:100%;
	padding:0;
	color:#99aeb9;
}
.user-setting .dropdown-menu a:hover {
	background:none;
}
.user-setting .dropdown-menu a .fa {
	font-size:18px;
}
.user-setting .fa-angle-down {
	position:absolute;
	right:0;
	top:7px;
}
.alert-bx {
	padding:0 15px;
}
.alerticon {
	position:relative;
}
.alerticon .fa-bell-o {
	font-size:20px;
	color:#ffffff;
}
.alerticon .fa-circle {
    position: absolute;
	height: 10px;
	width: 10px;
	left: 20px;
	color: #FF009A;
	font-size: 12px;
	top: 3px;	
}
.alerticon.dropdown-toggle::after {
	display:none;
}
.accountbox .form-inline {
	margin-top:5px !important;
}
.accountbox select {
	height:30px !important;	
	width:210px !important;	
	border:1px solid #99aeb9;	
	border-radius:0;
	background-color:transparent;
	color:#99aeb9;
	font-family: "Work Sans";
	font-size: 14px;	
	font-weight: 500;	
	line-height: 16px;
	padding-left:35px;
}
.accountbox .input-group .fa {
	position:absolute;
	left:16px;
	top:8px;
	font-size:16px;
	color:#fff;
	opacity:0.3;
}
.input-pareto {
	
}
#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	padding-top:50px;
}
#wrapper.toggled {
	padding-left: 290px;
}
#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 255px;
	width: 0;
	height: 100%;
	margin-left: -255px;
	overflow-y: auto;
	border-right:5px solid #003451;
	background-color: rgba(0,52,81,0.13);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
	width: 290px;
	padding-top:10px;
}
#page-content-wrapper {
	width: 100%;
	position: absolute;
	padding: 15px;
}
#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -290px;
}
.sidebar-nav {
	position: relative;
	top: 0;
	width: 285px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.sidebar-nav li {
	height: 40px;	
	background-color:rgba(255, 255, 255, 0.3);
	margin-bottom:2px;
	padding:0px 20px;
	line-height:40px;
}
.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #003451;
}
.sidebar-nav li a:hover {
	text-decoration: none;
	color: ##003451;
	background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
	text-decoration: none;
}
.sidebar-nav>.sidebar-brand {
	height: 65px;
	font-size: 18px;
	line-height: 60px;
}
.sidebar-nav>.sidebar-brand a {
	color: #999999;
}
.sidebar-nav>.sidebar-brand a:hover {
	color: #fff;
	background: none;
}
@media(min-width:768px) {
	#wrapper {
		padding-left: 0;
	}
	#wrapper.toggled {
		padding-left: 290px;
	}
	#sidebar-wrapper {
		width: 0;
	}
	#wrapper.toggled #sidebar-wrapper {
		width: 290px;
	}
	#page-content-wrapper {
		padding: 0px;
		position: relative;
	}
	#wrapper.toggled #page-content-wrapper {
		position: relative;
		margin-right: 0;
	}
}
.campaign-name {
	padding:0 20px;
	display:block;
	background:rgba(255, 255, 255, 0.7);
	height:40px;
	line-height:40px;
	border-left:5px solid #6544FF;
}
.campaign-name.select {	
	color: #003451;	
	font-size: 14px;	
	font-weight: bold;
}
.accordion-nav {
	padding-left:0;
	padding-right:0;
}
.accordion-nav {
	display:block;
}
.accordion-link-title {
	padding:7px 25px;
	background:rgba(255, 255, 255, 0.4);
	display:block;
	margin-bottom:1px;
}
.accordion-link-title  .ard-link {
	color: #003451;	
	font-size: 13px;
	font-weight:bold;
}
.accordion-link-title .collapsed {
	font-weight:normal;
}
.accordion-sub-menu {
	background:#ecf0f2;
}
.accordion-sub-menu ul {
	padding:0;
	margin:0;
}
.accordion-sub-menu ul li {
	list-style:none;
	margin-bottom:1px;
	display:block;
}
.accordion-sub-menu ul li a {
	color: #003451;	
	font-size: 13px;	
	font-weight: normal;
	display:block;
	background-color:#dee5e9;
	padding:6px 10px 6px 50px;
}
.accordion-sub-menu ul li a:hover, .accordion-sub-menu ul li a:active, .accordion-sub-menu ul li a:focus {
	background:#6544ff;
	color:#ffffff;
}
.row-light {	
	height: 45px;	
	background: #f2f5f6;
	padding-top:7px;
}
.right-section {
	margin-top:0px;
}
.btn-this-year, .btn-this-month {
	height:25px;
	min-width: 110px;
	border: 1px solid rgba(0, 52, 81, 0.1);
	border-radius: 15px;
	font-size:14px;
	text-transform:uppercase;
	padding:0;
	line-height:23px;
	text-align:center;
}
.btn-this-month {
	opacity: 0.2;
	background-color: #003451;
}
.inline-block-box, .select-inline{
	display:inline-block;
	position:relative;
}
.datepicker-inpt {
	width:240px;
	padding-left:35px !important;
}
.listing-type-row {
	margin-left:15px;
	margin-right:15px;
	display:block;
}
.filter-tab-row {
	display:block;
}

.nav-tabs {
	border:none;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
	color:#668597;	
	font-size:15px;	
	font-weight:400;	
	line-height:18px;	
	text-align:center;
	border:none;
	border-bottom:5px solid #f2f5f6;
	margin-right:26px;
	padding:10px 45px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #003451;
	font-weight:500;
    background-color: transparent;
    border-bottom:5px solid #6544ff;
}
.view-setting {
	margin-top:15px;
}
.view-setting a {
	color:#668597;
	font-size:12px;
	display:inline-block;
	margin-left:10px;
	vertical-align:middle;
}
.view-setting a .fa {
	font-size:20px;
}
.pareto-tab-content {
	width:100%;
}
.pareto-header {
	background-color:#fafbfc;
	padding:10px 15px;
	margin-top:10px;
}
.pareto-header .row {
	display:block;
	margin:0;
}
.links-col {
	margin-top:4px;
}
.links-col a {
	background-image:url('/images/graph_export.png');
	background-repeat:no-repeat;
	width:30px;
	height:21px;
	display:inline-block;
}
.links-col a.graph-active {
	background-position:0px -23px; 
}
.links-col a.export {
	background-position:-30px 0;
}
.pareto-table {
	padding:0 15px;
	margin-top:15px;
	overflow:auto;
}
.pareto-table-responsive {
	overflow:auto;
}
.pareto-table table {
	min-width:1500px !important;
}
.pareto-table  .table td, .pareto-table  .table th {
    padding: 8px 10px;
    vertical-align: top;
    border-top: 1px solid rgba(151, 151, 151,0.2);
}
.pareto-table  .table th {
	color: #003451;
	font-size: 14px;
	font-weight: 500;
	text-align: right;
	line-height:13px;
	vertical-align:middle;
}
.pareto-table  .table td {
	line-height:13px;
	vertical-align:middle;
	color: rgba(0, 52, 81, 0.6);
	text-align:right;
	font-size:14px;
}
.table-striped tbody tr {
	background-color: rgba(0, 52, 81, 0.02);
}
.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: #ffffff;
}
.table-bordered td, .table-bordered th {
	border: 1px solid rgba(0, 52, 81, 0.05);
}
.pareto-table  .table .total-row td {
	font-size:12px;
	color: #003451;
	font-weight:600;
	background-color:#ebeff1;
}
.pareto-table  .tr-highlight td.text-left {
	font-weight:600;
	color:#6544ff;
}
.pareto-table table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child::before, .pareto-table table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child::before {
    top: 8px;
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
    color: #6544ff !important;
}
.pareto-table table.dataTable > tbody > tr.child td {
	text-align:left;
}
table.dataTable > tbody > tr.child ul.dtr-details {
    display: block;
}
.dataTables_filter, .dataTables_length {
	display:none;
}
.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 18px;
	margin:0;
}
.switch input {
	display:none;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: transparent;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius:30px;
	border: 1px solid rgba(0, 52, 81, 0.3);
}
.slider:before {
	position: absolute;
	content: "";
	height: 14px;
	width: 14px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	left: 1px;
	bottom: 1px;
	background: rgba(0, 52, 81, 0.6);
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked + .slider {
	background-color: #fff;
}
input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
	-webkit-transform: translateX(11px);
	-ms-transform: translateX(11px);
	transform: translateX(11px);
	background:#6544FF;
}
.slider.round {
	border-radius: 34px;
}
.slider.round:before {
	border-radius: 50%;
}
.footer-bg {
	padding:50px 0;
	background-color: #17EAFF;
	margin-top:20px;
}
.quesiocn {
	color: #FFFFFF;	
	font-size: 56px;	
	line-height: 56px;
}
.h3 {
	color: #FFFFFF;
	font-size:36px;
	font-weight:300;
	line-height: 42px;
}
.help-content {
	color: #FFFFFF;
	font-size: 18px;
	line-height: 21px;	
}
.help-content span {
	font-weight: bold;	
}
.footer-copyright {
	background-color: #003451;
	padding:25px;
	text-align:center;
	color:#fff;
	font-size:10px;
	font-weight:500;
	line-height:1.1;
}
.page-item .page-link {
    z-index: 1;
    color: #6544ff;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #6544ff;
    border-color: #6544ff;
}
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
	background-color: #6544ff;
}
.chart-section {
	padding:50px 130px;
	background:rgba(0, 52, 81, 0.05);
}
.chart-wrapper {
	border-left: 1px solid rgba(0, 52, 81, 0.3);
    border-bottom: 1px solid rgba(0, 52, 81, 0.3);
}
.blueberryPoint {
	background-color: #ff009a !important;
}
.btn-outline-secondary {
	position: absolute !important;
	left: 0 !important;
	height: 31px !important;
	border: 0 !important;
}
.btn-outline-secondary .gj-icon {
	top:5px !important;
	left:5px !important;
}
.table-row {
	background-color:#6544FF;
	padding:8px 10px;
}
.table-row ul {
	padding:0;
	margin:0;	
}
.table-row ul li{
	padding:0;
	margin:0;
	display:inline-block;
}
.table-row ul li a{
	color:#ffffff;
	padding:0 20px;
	font-weight:normal;
}
a.btn-deselect {
	border-radius:30px;
	background:rgba(255, 255, 255, 0.2);
	border-radius: 15px;
	color:#ffffff !important;
	padding:2px 10px;
}
.dataTables_info, .dataTables_paginate {
	display:none;
}
.modal-dialog-graph {
	max-width:1200px;
	top:100px;
}
.modal-dialog-graph .close {
    position: absolute;
    right: 0;
    top: -5px;
	z-index:2;
}

/******cws 27-7-2018***********/
.full-width-menu{width:100%; border:1px solid #c7cdd2; background:#fff; position:absolute; left:0; top:100%; display:none;}
.full-width-menu.toggled{ display:block;}
.full-width-menu .col-md-2 {flex: 0 0 20%; max-width: 20%; padding:0}
.full-width-menu .col-md-2 h3.title {
  background: #f0f3f5 none repeat scroll 0 0;
  border-bottom: 1px solid #c7cdd2;
  font-size: 16px;
  text-transform: capitalize; padding:12px 15px;  margin:0;
}
.full-width-menu .col-md-2 h3.title i{ margin-right:5px; color:#282c30; font-size:14px; line-height:20px;}
.full-width-menu .col-md-2 .menu-01{width:100%; display:inline-block; vertical-align:top; padding:10px 0; list-style:none; margin:0;}
.full-width-menu .col-md-2 .menu-01 li{ padding:5px 0; font-size:14px; line-height:16px; text-transform:capitalize; color:#282c30; width:100%;}
.full-width-menu .col-md-2 .menu-01 li a{color:#282c30; width:100%; display:block;}
.full-width-menu .col-md-2 .menu-01 li a:hover{ color:#003451}

.full-width-menu .inner-content{ padding:0 15px}
.full-width-menu .col-md-2:hover{ background:#f0f3f5;}

.left-arrow-link {-webkit-transition:0.5s; -ms-transition:0.5s; transition:0.5s; position:fixed; top:50%; left:5px; height: 90px; width: 25px; border-radius: 0 10px 10px 0; background-color: #003451; }
.left-arrow-link i{color:#ffffff; font-size:18px; left:5px; line-height:90px; position:relative;}
#wrapper.toggled .left-arrow-link{ left:290px;}
#wrapper.toggled .left-arrow-link i.fa-angle-double-left{ display:block !important;}
#wrapper.toggled .left-arrow-link i.fa-angle-double-right{ display:none}
/*******************************/
.dx-header-row > td[role="columnheader"]> div.dx-datagrid-text-content {
    color: #003451;
    font-size: 14px;
    font-weight: 500;
    text-align: right;
    line-height: 13px;
    vertical-align: middle;
}
.dx-datagrid-total-footer > .dx-datagrid-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

.form-check {
    padding:5px 8px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
    padding: 0px 0px 0px 0px;
    margin-bottom: 5px;
}
.ui-icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: .0em !important;
}
.coloumn_chooser {
   height:300px !important;
   overflow-y: auto !important;
}
.dx-row > td {
    border-left: 1px solid #ddd;
}

 .dx-widget {
    overflow-x: hidden;
    font-family: 'Work Sans', sans-serif !important;
    font-size: 14px !important;
    color: #003451 !important;
    font-weight: 500 !important;
    line-height: 13px !important;
    vertical-align: middle !important;
}

.dx-datagrid-table td{
    line-height: 13px;
    vertical-align: middle;
    color: rgba(0, 52, 81, 0.6);
    text-align: right;
    font-size: 14px;
}
.dx-datagrid-summary-item {
    font-size: 12px;
    color: #003451;
    font-weight: 600;
    background-color: #ebeff1;
}
.gridContainer{
    min-height: 300px;
}
.invalid-feedback{
   margin-left: -18% !important;
   margin-top: -2px !important;
}
