<style>
    body {
        font-size: 16px !important;
    }

    html {
        font-size: 16px !important;
    }
</style>

<span style="font-size: 22px; font-weight: bold; margin: 100px;">Snapchat Login</span>

<div style="width: 600px; border: 0px solid; margin: 100px;">
    <?php echo $snapchat_button; ?>
</div>